
body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  
  background-image: url(./assets/background.png);
  background-size: cover;
  background-color: rgb(8, 10, 44);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a:-webkit-any-link {
  text-decoration: none;
}


.notification-wrapper {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 300px;
  z-index: 10;
}

.notification-item {
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 1s;
  animation-fill-mode: forwards;
  width: 300px;
  background-color: #181818ff;
  color: #fafafa
}

@keyframes SlideLeft {
  0% {
      margin-left: 120%;
  }

  100% {
      margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
      margin-left: 0;
  }

  100% {
      margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 1s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success .bar {
  background-color: #65d266;
}

.notification-item.error .bar {
  background-color: red;
}